@tailwind preflight;
@tailwind components;

.btn {
  @apply rounded font-bold px-4 py-2;
}

.btn-blue {
  @apply bg-blue text-grey-lightest;
}

.btn-blue-rev {
  @apply bg-white text-blue border-blue border;
}

.btn-teal {
  @apply bg-teal text-grey-lightest;
}

.btn-grey {
  @apply bg-grey-darker text-grey-lightest;
}

.btn-teal:hover {
  @apply bg-teal-dark;
}

.btn-blue:hover {
  @apply bg-blue-dark;
}

.btn-grey:hover {
  @apply bg-grey-darkest;
}

.form-container {
  @apply mt-8 mb-4 mx-4 bg-white shadow-md rounded px-8 pt-6 pb-8 flex flex-col;
}

.form-field {
  @apply shadow appearance-none border rounded w-full my-2 py-2 px-3;
  @apply text-grey-darker leading-tight;
}

.form-field:focus {
  @apply outline-none shadow-outline;
}

.alert {
  @apply border border-red-light flex justify-center items-center rounded bg-red-lightest px-4 py-3 text-red-dark;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.inactive {
  visibility: hidden;
  opacity: 0;
}

.notice {
  @apply border border-blue-darker flex justify-center items-center bg-blue rounded text-grey-lightest text-sm font-bold px-4 py-3;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.link {
  @apply text-teal-lighter flex items-center;
}

.link:hover {
  @apply text-white;
}

.home-link {
  @apply font-semibold text-xl tracking-tight;
}

.home-link:hover {
  @apply text-white;
}

.home-link:visited {
  @apply text-white;
}

:focus {
  outline: rebeccapurple auto 2px;
}

a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button:disabled,
button:disabled:hover {
  background-color: #888888;
  color: #444444 !important;
}

body {
  @apply text-grey-darkest;
  font-family: 'Roboto', sans-serif, monospace;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

@tailwind utilities;
